html {
	scroll-behavior: smooth;
}

.card {
	--mdb-card-box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);
	box-shadow: var(--mdb-card-box-shadow);
}

.list-group {
	--bs-list-group-border-width: 1px;
	--bs-list-group-border-color: rgba(0,0,0,0.125);
}

.modal-content {
	box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

body {
	min-height: 100vh;
}

.maxWidthContainer {
	margin-left: auto;
	margin-right: auto;
	width: clamp(16rem, 90vw, 80rem)
}

.navbar {
	-webkit-transition: background-color 200ms ease-in-out, border 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out, border 200ms ease-in-out;
    transition: background-color 200ms ease-in-out, border 200ms ease-in-out;
	background-color: transparent;

	--bs-navbar-color: #000000AA;
	--bs-navbar-hover-color: #000000FF;
	--bs-navbar-active-color: #000000FF;
}

.nav-link {
	transition: font-size 200ms ease-in-out;
}

.navbar {
    background-color: #FFFFFF;
	--bs-nav-link-font-size: 1.25em;
}

.navbar.navbar-landing-expand {
    background-color: #FFFFFFAA;
    border-bottom: none !important;
    box-shadow: none;
	--bs-nav-link-font-size: 1.5em;
}

#navBarCall::before {
	content: "\1F4DE ";
	filter: contrast(0) sepia(1) saturate(100) hue-rotate(180deg);
}

#hoursGrid {
	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: 1rem;
	width: fit-content;
	justify-self: center
}

#hoursGrid > *:nth-child(odd) {
	text-align: right;
}
#hoursGrid > *:nth-child(even) {
	text-align: right;
}